In [28]:
import pandas as pd
import numpy as np

In [ ]:
import

In [22]:
dados1 = pd.read_csv("dados1.csv")
dados2 = pd.read_csv("dados2.csv")

In [23]:
dados2

       Unnamed: 0   ano     bloco  talhao  corte  tch_bloco
0               0  2021  604P0311       5      4      70.75
1               1  2021  111P1186      10      5      26.47
2               2  2021  116P1611       6     18      95.64
3               3  2021  116P1626       2     18     110.97
4               4  2021  134P1520       2      3      59.20
...           ...   ...       ...     ...    ...        ...
20015       20015  2022  605P0301      10      5      56.29
20016       20016  2022  220P2046       1      4      63.26
20017       20017  2022  226P2678       1      5      38.27
20018       20018  2022  225P2864       1      3      48.27
20019       20019  2022  225P2564      10      6      24.59

[20020 rows x 6 columns]

In [24]:
display(dados1.columns)
display(dados2.columns)

Index(['Unnamed: 0', 'ano', 'bloco', 'ndvi', 'area', 'cdambiente'], dtype='object')

Index(['Unnamed: 0', 'ano', 'bloco', 'talhao', 'corte', 'tch_bloco'], dtype='object')

In [25]:
base = pd.merge(dados2,dados1, on=["ano","bloco"])

In [26]:
base

,Unnamed: 0_x,ano,bloco,talhao,corte,tch_bloco,Unnamed: 0_y,ndvi,area,cdambiente
0,0,2021,604P0311,5,4,70.75,0,0.185666,20.63,A
1,0,2021,604P0311,5,4,70.75,225,0.224056,27.60,A
2,0,2021,604P0311,5,4,70.75,1073,0.176152,3.00,A
3,0,2021,604P0311,5,4,70.75,1154,0.214433,27.74,A
4,0,2021,604P0311,5,4,70.75,2481,0.200374,25.35,A
...,...,...,...,...,...,...,...,...,...,...
212881,19957,2022,238P3846,1,3,36.13,19957,0.100586,27.53,C
212882,19977,2022,414P0042,1,4,70.47,19977,0.131671,10.63,C
212883,19990,2022,601P0336,1,7,51.38,19990,0.087433,6.02,C
212884,19991,2022,110F0041,1,5,65.16,19991,0.152852,2.12,A
212885,20016,2022,220P2046,1,4,63.26,20016,0.136303,30.73,D

In [27]:
##### mostre qual a media, medianda, min e maximo do nvdi por bloco
print("Media: ", np.mean(nvdi))

NameError: name 'np' is not defined

In [ ]:

##### mostre qual a mÃ©dai, medaiana, min e mÃ¡ximo nvdi por ambiente
##### mostre qual a mÃ©dai, medaiana, min e mÃ¡ximo nvdi por corte
##### mostre qual a Ã¡rea total do canavial
##### mostre qual a Ã¡rea total do cancavial por bloco, mostre qual a Ã¡rea total do canavial por ambiente
##### mostre qual a Ã¡rea total do canavial por corte